.image{
    height:350px;
}
.heading{
    color:#183b56;
    padding-left:60px;
    padding-right:60px;
    margin-top: 10px;
}
.para{
    color:#5a7184;
}
.card2 {
    padding: 17px;
}
.head2 {
    text-align: center;
    color: #183b56;
    font-weight: bold;
    font-size: 22px;
    padding-left: 25px;
    padding:10px;
}
.para2{
    text-align: center;
    padding-top:10px;
}